<!doctype HTML>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'todolist_create' %}">Create a Todo List</a>
                </li>
                <li>
                    <a href="{% url 'todoitem_create' %}">Create a Todo Item</a>    
                  </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
            </nav>
        </header>
        <main>
            <div>
              <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ recipe }}"?</p>
                {{ form.as_p }}
                <div>
                  <button>Delete</button>
                </div>
              </form>
            </div>
          </main>
    </body>
</html>