<!doctype HTML>
<html>
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'todolist_create' %}">Create a Todo List</a>
                </li>
                <li>
                    <a href="{% url 'todoitem_create' %}">Create a Todo Item</a>
                  </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li>
                    <a href="{% url 'todolist_delete' todolist.pk %}">Delete a Todo List</a>
                </li>
                <li>
                    <a href="{% url 'todolist_edit' todolist.pk %}">Update a Todo List</a>
                </li>
            </nav>
        </header>
        <main>
            <h1>{{ todolist.name }}</h1>
            {% for item in todolist.items.all %}
                <div>
                       <a href="{% url 'todoitem_edit' item.pk %}">{{ item.task }}</a>
                </div> 
            {% endfor %}
        </main>
    </body>
</html>