<!doctype HTML>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <header>
            <nav>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'todolist_create' %}">Create a Todo List</a>
                </li>
                <li>
                    <a href="{% url 'todoitem_create' %}">Create a Todo Item</a>    
                  </li>
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
            </nav>
        </header>
        <main>
            <h1>Todo Lists</h1>
            {% for list in todolist_list %}
                <p> for loop is working </p>
                <div>
                    <h2>
                        <a href="{% url 'todolist_detail' list.pk %}">{{ list.name }}</a> 
                    </h2>
                </div>
            {% endfor %}
        </main>
    </body>
</html>